[submodule "external/ponca"]
	path = external/ponca
	url = https://github.com/poncateam/ponca.git
[submodule "external/polyscope"]
	path = external/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
