[submodule "external/ponca"]
	path = external/ponca
	url = https://github.com/poncateam/ponca.git
[submodule "external/polyscope"]
	path = external/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
